.App {
  font-family: sans-serif;
  text-align: center;
  color: blue;

}

.user-card {
  background-color: lightblue;
  color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  text-align: left;
}
.native-city{
  background-color: lightblue;
  color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  text-align: left;
}
.native-city h3{
  text-align: center;
}
.user-card h3 {
  text-align: center;
}

.user-hobby {
  border: 5px groove lightskyblue;
  border-radius: 20px;
}
